<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/main.css" rel="stylesheet">
    <title>Login Details</title>
</head>
<body onload="myFunc()">
    <section class="login-outer">
        <div class="wrapper">
            <h1>The Login was <%= state %></h1>
            <div class="details">
                <h2>The Login Details are</h2>
                <p><%= name %></p>
                <p><%= mail %></p>
                <p><%= pass %></p>
            </div>
        </div>
    </section>
</body>
</html>