<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet">
  <title>Portfolio</title>
</head>
<body>
	<main class="wrapper">
		<aside class="side-bar">
			<div class="name">
				<h1>JOHNSON GOPAL</h1>
				<h3>CUSTOMER SERVICE</h3>
				<p>
					As someone who can identify  the need of customers for effective solutions, I'm committed to high quality service that ensures a positive experience.
				</p>
			</div>
			<div class="persona">
				<h4>PERSONALITY HIGHLIGHTS</h4>
				<ul>
					<li class="persona-li">Cheerful disposition</li>
					<li class="persona-li">Neat and well-organized</li>
					<li class="persona-li">Motivated by problem solving</li>
					<li class="persona-li">Independent worker</li>
					<li class="persona-li">Works well with deadlines</li>
					<li class="persona-li">Collaborative and efficient</li>
				</ul>
			</div>
			<div class="contact">
				<h4>CONTACT DETAILS</h4>
				<p>123 Anywhere St,<br>Any City, State,<br>Country</p>
				<p>hello@reallygreatsite.com</p>
				<p>www.reallygreatsite.com</p>
				<p>123-456-789</p>
			</div>
		</aside>
		<section class="main-content">
			<div class="basic">
				<h3>BASIC INFORMATION</h3>
				<p>
					I am a professional Customer Servive Representative with over 6 years experiencein handling multi-national clients.My unique professional experience stems fromyears of providing excellent customor support, creative problem solving and building customer loyalty.
				</p>
			</div>
			<div class="education">
				<h3>EDUCATION</h3>
				<ul>
					<li>University of El Dorado-- Any City, State <br>class of 2013<br>Masters in Human Resource Management</li>
					<li>University of El Dorado Human Resources Association,<br>Vice-President in 2012</li>
					<li>University of El Dorado-- Any City, State class of 2010<br>Bachelors of communication Arts<br>Teacher's Assistant of the Humanities Department</li>
				</ul>
			</div>
			<div class="pro-exp">
				<h3>PROFESSIONAL EXPERIENCE</h3>
				<ul>
					<li>Customer Service Manager, Bijou Solutions, Inc<br>Any City, State, 2020-present<br>Motivated and improved the customer servive department and its 25 staff members to propel them towards set goals</li>
					<li>Data Service Specialist 24 Gold Lion Business Services Inc<br>Any City, State, 2015-2019<br>Developed, organized and tracked key performance<br>metrics and company profiles for all employeesfor better<br>corporate productivity and monitoring</li>
				</ul>
			</div>
		</section>
  </main>
</body>
</html>